- content_for :breadcrumb do
  %ul.breadcrumb
    %li
      = link_to content_tag(:span, 'Pages'), admin_pages_path
    %li
      = content_tag :span, h(@page.name), :style => 'color: palevioletred'

- form_for @page, :url => admin_page_path, :html => { :autocomplete => :off, :multipart => true, :class => :qform } do |f|
  = render :partial => 'form', :locals => { :f => f }

%hr
.i_buttons{ :style => 'margin-top: 15px;' }
  = link_to 'Back', admin_pages_path, :class => :arrow_left
  = link_to 'New page', new_admin_page_path, :class => :page_add
  = link_to 'delete', admin_page_path(@page), :class => :delete, :method => :delete, :confirm => 'Are you sure?'
