!!! Strict
%html{ html_attrs(:en) }
  %head
    %meta{ 'http-equiv' => 'Content-Type', :content => 'text/html; charset=utf-8' }
    %title Categories :: arhibas.com backend
    = render :partial => 'common/admin/assets'
  %body
    #header
      = render :partial => 'common/admin/top_navigation'
      #layoutdims
        = "Here you got all availble #{content_tag :strong, 'categories'}, so go ahead and manage them."

    .colmask.leftmenu
      .colright
        .col1wrap
          .col1{ :style => 'padding: 10px 0;' }
            - before_bc = link_to_unless_current(content_tag(:span, 'Categories'), admin_categories_path) {content_tag(:span, 'Categories')}
            = display_breadcrumb :before => [before_bc], :after => @bradcrumb_afters
            .dyn_content
              = default_flash(flash)
              = yield
        .col2
          .categories_tree
            = render :partial => 'common/admin/categories_tree'

    #footer
      / footer goes here...
