- @extra_javascript = ['livepipe', 'tabs']
- @extra_stylesheet = ['admin/forms', 'admin/tabs', 'admin/buttons']

._tabs
  %ul#multilang_project_tabs.sub_tabs
    %li.tab
      %a{ :href => '#tab_default' } default

    - f.object.translations.each do |trans|
      %li.tab
        %a{ :href => ['#', dom_id(trans, trans.lang)].join }= trans.lang
.clean.left

._content
  %fieldset
    %table.formfield
      - if f.object.new_record?
        = f.hidden_field :parent_id, :value => params[:parent]
      - else
        - unless f.object.root?
          %tr
            %td= f.label :category, 'Move to category'
            %td= f.select :parent_id, nested_set_options(Category, @category){|i| "#{'-' * 2 * i.stage} #{i.name}" }
      %tr
        %td{ :colspan => 2 }
          %div.checkbox
            = f.check_box :published
            = f.label :published, 'Published?'

  %div#tab_default
    %fieldset
      %table.formfield
        %tr
          %td= f.label :name
          %td.string= f.text_field :name
        %tr
          %td.textarea.medium{ :colspan => 2 }
            %hr
            = f.label :description
            = f.text_area :description, :style => 'margin-top: 4px;'
  
  = render :partial => 'translation', :object => f

%div.buttons
  %button.positive{ :type => :submit }
    = image_tag 'icons/tick.png'
    %span
      %span Save and close

:javascript
  // tabs
  new Control.Tabs('multilang_project_tabs');
