= link_to '<!-- about -->', page_path(I18n.locale, 'about'), { :class => :about }
= link_to '<!-- projects -->', category_path(I18n.locale, '37-proiecte'), { :class => :projects }
= link_to '<!-- constructions -->', category_path(I18n.locale, '54-constructii'), { :class => :constructions }
= link_to '<!-- software_distribution -->', category_path(I18n.locale, '97-software-distributie'), { :class => :software_distribution }
= link_to '<!-- design_poligrafie -->', page_path(I18n.locale, 'design-and-printing'), { :class => :design_poligrafie }
= link_to '<!-- contacte -->', page_path(I18n.locale, 'contacts'), { :class => :contacte }
